.about{
    background:url("https://camo.githubusercontent.com/65475c61a0b084c0f8aafef3cef5585752f6771b326c33a3a8c70e020c4afe6d/68747470733a2f2f692e70696e696d672e636f6d2f6f726967696e616c732f33302f62382f31372f33306238313734633666316130376530616639626366343166656333613566352e676966") no-repeat center;
    background-size:cover;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.text{
    text-align: center;
    margin-top: 6%;
}
.linkbtn{
    color:#fff;
    float:right;
    margin:10px 10px auto;
}
.social-media-list {
  position: relative;
  font-size: 23px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.social-media-list_ li a {
  color: #fff;
}
.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 130px;
  width: 130px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: white;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}
.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}
  .social-media-list li:hover {
    background-color: #fff; 
    color:#000;
  }
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  .social-media-list li:hover a {
    color: rgb(4, 26, 14);
}
.card:hover{
    cursor: pointer;
}
.card-title {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-text{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.offcanvas-start{
    background-image:'linear-gradient(to right,rgb(4, 26, 14),white)'
}
.line-1{
    width: 6em;
    margin-left:30%;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-25%);    
}
.anim-typewriter{
  animation: typewriter 4s steps(25) infinite;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
.subhead{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:60px;
}
@media only screen and (max-width: 412px){
  .social-media-list {
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 60px;
    border-radius: 50%;
    color: white;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
}