.header{
  overflow-y: scroll;
  overflow-x: hidden;
}
.head-1{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-image: linear-gradient(to right bottom ,rgba(0,0,0,.3),rgba(0,0,0,.7)),url("http://pa1.narvii.com/7260/f8e0b2af3066843ac48a19431f06b6d5f4ed3015r1-760-428_00.gif");
  background-position: top;
  background-size: cover;
  animation:fade1 10s infinite;
}
.sub{
  margin-left:5%;
  color:yellow;
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
}
.banner{
  margin-left:5%;
  color:white;
  font-weight: bold;
  font-size: 80px;
}
.banner_{
  margin-left:5%;
  color:white;
  font-weight: bold;
  font-size: 55px;
}
.imgggg{
  height:80%;
  width:80%;
  border: 5px solid yellow;
  border-radius: 100%;
  margin-top:10%;
}
.boxc{
  display: flex;
  flex-direction: row;
}
  .glow-on-hover {
    width: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    animation: glowing 20s linear infinite;
}
.block {
  margin: 40px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 168, 25, 1) 0%,
    rgba(255, 147, 25, 1) 10%,
    rgba(255, 128, 25, 1) 15%,
    rgba(255, 80, 25, 1) 20%,
    rgba(255, 45, 80, 1) 25%,
    rgba(255, 32, 107, 1) 30%,
    rgba(255, 18, 138, 1) 35%,
    rgba(255, 0, 178, 1) 40%,
    rgba(255, 0, 178, 1) 45%,
    rgba(255, 0, 178, 1) 50%,
    rgba(255, 0, 178, 1) 55%,
    rgba(255, 0, 178, 1) 60%,
    rgba(255, 0, 178, 1) 65%,
    rgba(255, 18, 138, 1) 70%,
    rgba(255, 32, 107, 1) 75%,
    rgba(255, 45, 80, 1) 80%,
    rgba(255, 80, 25, 1) 85%,
    rgba(255, 128, 25, 1) 90%,
    rgba(255, 147, 25, 1) 95%,
    rgba(255, 168, 25, 1) 100%
  );
  background-size: 400%;
  animation-name: steam;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  margin-bottom: 50px;
}
@keyframes steam {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
@media only screen and (max-width: 1200px){
   .boxc{
     display: flex;
     flex-direction: column-reverse;
   }
   .imgggg{
     align-items: center;
     margin-left:28%;
     height:40%;
     width:40%;
   }
}
@media only screen and (max-width: 800px){
  .imgggg{
    align-items: center;
    margin-left:35%;
    height:200%;
    width:200%;
  }
}
@media only screen and (max-width: 768px){
   .banner{
     font-size: 65px;
   }
   .banner_{
    font-size: 35px;
  }
  .imgggg{
    align-items: center;
    margin-left:35%;
    height:200%;
    width:200%;
  }
}
@media only screen and (max-width: 480px){
   .sub{
     font-size: 30px;
   }
   .banner{
     font-size: 50px;
   }
   .banner_{
    font-size: 35px;
  }
  .imgggg{
    align-items: center;
    margin-left:35%;
    height:200%;
    width:200%;
  }
}
@media only screen and (max-width: 320px){
   .sub{
     font-size: 25px;
   }
   .banner{
     font-size: 35px;
   }
   .banner_{
    font-size: 35px;
  }
}
