.glow{
    position: relative;
    margin-top: 12%;
    text-align: center;
}
.glowanim{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    position: relative;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d4d5ff;
    }
    @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d1c7ff, 0 0 40px #d1c7ff, 0 0 50px #d1c7ff, 0 0 60px #d1c7ff, 0 0 70px #d1c7ff;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #070706, 0 0 40px #070706, 0 0 50px #070706, 0 0 60px #070706, 0 0 70px #070706, 0 0 80px #070706;
    }
}
.fimg{
    height:220px;
    width:220px;
    position: absolute;
    text-align: center;
    margin-left: 40%;
    border: 5px solid #d4d5ff;
    border-radius:100%;
}
@media only screen and (max-width: 1024px){
    .glow{
      margin-top: 20%;
    }
    .fimg{
      margin-left: 35%;
    }
  }
  @media only screen and (max-width: 768px){
    .glow{
       margin-top: 30%;
    }
  }
  @media only screen and (max-width: 600px){
    .glow{
       margin-top: 40%;
    }
    .glowanim{
        font-size: 40px;
    }
    .fimg{
        margin-left: 27%;
    }
  }
  @media only screen and (max-width:500px)
  {
    .fimg{
      margin-left: 22%;
    }
  }
  @media only screen and (max-width: 400px){
      .glowanim{
          font-size: 30px;
      }
      .glow{
          margin-top: 55%;
      }
      .fimg{
          margin-left: 3%;
          height:350px;
          width:auto;
      }
}
@media only screen and (max-width: 370px){
  .fimg{
      margin-left:4%;
      height:300px;
      width:auto;
  }
}
